<!DOCTYPE html>
<html>
    <head>
        <title>note :)</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script scr="https://cdn.tailwindcss.com"></script>
        <link rel="icon" type="image/png" href="static/logo2.png">
        <link rel="stylesheet" href="static/notestyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            <div class="name">
            <h1 class="text-3xl font-bold">N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;H&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A</h1>
            <h5 class="mt-2 text-gray-600">welcome<br>to the dungeon.</h5>
            </div>
            <div class="items">
            <a href="{{ url_for('home') }}" class="header-button">H¤me</a>
            <a href="/note" class="header-button">N¤te</a>
            <a href="#footer" class="header-button">(Anti)s¤cials</a>
            </div>
        </header>
        <main class="note">
        <p>
            <h1 class="greet">GREETINGS</h1>
            <h4>i've always felt the urge to create a little digital space of my own.<br>
                this webspace might look a bit cranky, but i'm trying to remember<br>
                the basics of web development that i've learnt from that one college<br>
                semester as i'm continuing to learn more through self-teaching.<br>
                i don't know why i love to code at night, it's like 6:33am right<br>
                now. anyways, i'm also working on an upcoming project.<br>
                i can't wait to share my work with you :) if you read this <br>
                note, thank you. drink water & take care. <br>
                <br>
                bye<br>sincerely,<br>space egg mother (∿°○°)∿ ︵ ǝʌol<br><br><br><br><br><br>
                (you can steal that symbol)
            </h4>
        </p>
        </main>
        <footer id="footer">
            <p><span class="inc">© 2025 SELENOPHILE INC.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="inc">noha.inquiries@outlook.com</span></p>
            <div class='socials'>
                <a href="http://instagram.com/spaceegg13" target="_blank">
                    <img src="static/insta.png" width="20">
                </a>
            
                <a href="https://www.youtube.com/@selenophileinc" target="_blank">
                    <img src="static/youtube.png" width="55">
                </a>
            </div>
        </footer>
    </body>
</html>